.calculator {
  width: 400px;
}

.results {
  height: 50px;
  background-color: rgb(22, 22, 22);
  color: rgb(230, 230, 230);
  border-top: 1px solid hidden;
  border-left: 1px solid hidden;
  border-right: 1px solid hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: end;
  padding: 5px 16px 5px 16px;
  font-weight: 500;
  font-size: 200%;
}

.current-function {
  height: 30px;
  background-color: rgb(22, 22, 22);
  color: rgb(230, 230, 230);
  text-align: end;
  font-size: 100%;
}

.border-down-left {
  border-bottom: 1px solid hidden;
  border-left: 1px solid hidden;
  border-bottom-left-radius: 10px;
}

.border-down-right {
  border-bottom: 1px solid hidden;
  border-right: 1px solid hidden;
  border-bottom-right-radius: 10px;
}

.button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
  font-weight: 500;
  font-size: 120%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  background-color: rgb(231, 230, 230);
}

.function-button {
  background-color: rgb(197, 197, 197);
  text-align: center;
}

.function-button:hover {
  background-color: rgb(167, 167, 167);
}

.number-button {
  background-color: rgb(236, 236, 236);
  text-align: center;
}

.equals-button {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: rgb(214, 128, 79);
  text-align: center;
  font-weight: 500;
  font-size: 120%;
}

.equals-button:hover {
  background-color: rgb(201, 110, 57);
}
